

/* .NavBar {
  width: 13em;
  height: 200px;

  background-color: var(--color-monochrome);
  border: 2px solid var(--color-primary);
  border-radius: 9px;  
  & .ulNavBar {
    width: 200px;
    display: grid;
    justify-content:start;
  }
  & .liNavBar {
    width: min-content;
    height: 2.5em;
    margin: auto 0 auto 0;
    border-radius: 14px;
    display: grid;
    grid-template-columns: min-content max-content;
    justify-content: center;
    align-items: center;
    

    background-color: gray;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    
  
*/

